%menu--horizontal {
  margin: 0;

  li {
    padding: 0;
    display: inline-block;
  }
}

%menu--link {
  color: #2D2D2D;
  text-decoration: none;

  &:hover, &:link, &:active {
    color: #F68425;
    text-decoration: none;
  }
}
