.region-footer {
  .block-menu {
    h2 {
      font-size: 1rem;
    }
  }

  .menu {
    padding: 0;
    margin: 0;
  }

  .menu-item {
    margin-top: 0.5rem;
    padding: 0;
    a {
      @extend %menu--link;
    }
  }
}
