html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.region-header, .region-footer {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px; }
  .region-header::after, .region-footer::after {
    clear: both;
    content: "";
    display: block; }

body, html {
  width: 100%; }

img {
  width: 100%;
  height: auto; }

.region-header, .region-footer {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px; }
  .region-header::after, .region-footer::after {
    clear: both;
    content: "";
    display: block; }

.block-system-branding-block {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .block-system-branding-block:last-child {
    margin-right: 0; }

.menu--navigation-primary {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .menu--navigation-primary:last-child {
    margin-right: 0; }

.menu--navigation-primary .menu {
  margin: 0; }
  .menu--navigation-primary .menu li {
    padding: 0;
    display: inline-block; }

.menu--navigation-primary a, .region-footer .menu-item a {
  color: #2D2D2D;
  text-decoration: none; }
  .menu--navigation-primary a:hover, .region-footer .menu-item a:hover, .menu--navigation-primary a:link, .region-footer .menu-item a:link, .menu--navigation-primary a:active, .region-footer .menu-item a:active {
    color: #F68425;
    text-decoration: none; }

main {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px; }
  main::after {
    clear: both;
    content: "";
    display: block; }

.layout-content {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .layout-content:last-child {
    margin-right: 0; }

.has-sidebar-first .layout-content, .has-sidebar-second .layout-content {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%; }
  .has-sidebar-first .layout-content:last-child, .has-sidebar-second .layout-content:last-child {
    margin-right: 0; }

.has-sidebar-first.has-sidebar-second .layout-content {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .has-sidebar-first.has-sidebar-second .layout-content:last-child {
    margin-right: 0; }

.layout-sidebar-first {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .layout-sidebar-first:last-child {
    margin-right: 0; }

.layout-sidebar-second {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .layout-sidebar-second:last-child {
    margin-right: 0; }

.region-footer {
  padding: 10px; }
  .region-footer .block {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .region-footer .block:last-child {
      margin-right: 0; }

.block-system-branding-block {
  height: 50px; }
  .block-system-branding-block img {
    width: auto;
    height: 100%; }

.menu--navigation-primary .menu-item {
  line-height: 50px;
  margin-right: 1em; }

.region-footer .block-menu h2 {
  font-size: 1rem; }

.region-footer .menu {
  padding: 0;
  margin: 0; }

.region-footer .menu-item {
  margin-top: 0.5rem;
  padding: 0; }

body {
  background: #F2F5F2; }

header, footer[role=contentinfo] {
  background: white; }
